<div class="buttons__inner">

  <div class="buttons__cluster clearfix">

    {{#unless _shouldDisplayAttempts}}
    <div class="buttons__marking-icon icon u-display-none"></div>
    {{/unless}}

    <button class="btn-text buttons__action js-buttons-action" aria-label="{{_buttons._submit.ariaLabel}}">{{{_buttons._submit.buttonText}}}</button>
    <button class="btn-text buttons__feedback js-buttons-feedback" aria-label="{{_buttons._showFeedback.ariaLabel}}" disabled="true">{{{_buttons._showFeedback.buttonText}}}</button>

  </div>

  {{#if _shouldDisplayAttempts}}
  <div class="buttons__display">

    <div class="buttons__marking-icon icon u-display-none"></div>
    <div class="buttons__display-inner" aria-live="assertive"></div>

  </div>
  {{/if}}

</div>