<div class="buttons__inner">

  <div class="btn__container u-clearfix">

    {{#unless _shouldDisplayAttempts}}
    <div class="btn__marking-icon icon u-display-none"></div>
    {{/unless}}

    <button class="btn-text btn__action js-btn-action" aria-label="{{_buttons._submit.ariaLabel}}">{{{_buttons._submit.buttonText}}}</button>
    <button class="btn-text btn__feedback js-btn-feedback" aria-label="{{_buttons._showFeedback.ariaLabel}}" disabled="true">{{{_buttons._showFeedback.buttonText}}}</button>

  </div>

  {{#if _shouldDisplayAttempts}}
  <div class="btn__display">

    <div class="btn__marking-icon icon u-display-none"></div>
    <div class="btn__display-inner" aria-live="assertive"></div>

  </div>
  {{/if}}

</div>