<button class="drawer__item-open {{className}}">

  <div class="drawer__item-title">
    <div class="drawer__item-title-inner h5">
      {{{title}}}
    </div>
  </div>

  <div class="drawer__item-description">
    <div class="drawer__item-description-inner">
      {{{a11y_text description}}}
    </div>
  </div>

</button>
